<ngx-spinner
  bdColor="#fff"
  size="default"
  color="#1FD760"
  type="square-jelly-box"
>
  <p class="py-3" style="font-size: 20px; color: black">Fetching latest posts...</p>
</ngx-spinner>
<div class="container-fluid">
  <div class="row">
    <div *ngFor="let video of videos" class="col-lg-3 mb-4">
      <div class="card border-0 shadow vh-50">
        <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" target="_blank">
          <img [src]="video.snippet.thumbnails.medium.url" class="card-img-top" alt="..."></a>
        <div class="card-body text-center">
          <h5 class="card-title mb-0">
            <a href="https://www.youtube.com/watch?v={{video.id.videoId}}">{{video.snippet.title}}
            </a></h5>
          <div class="card-text text-black-50">{{video.snippet.description.slice(0, 100)}}</div>
          <p class="card-text">{{video.snippet.description}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
